@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shadow-xl: 0px 2px 3px 0px hsl(16.5517 21.8045% 26.0784% / 0.18), 0px 8px 10px -1px hsl(16.5517 21.8045% 26.0784% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(16.5517 21.8045% 26.0784% / 0.45);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 24 9.8% 10%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 8.7% 15.9%;
    --popover-foreground: 0 0% 100%;
    --primary: 13 100% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 33 7.3% 24.9%;
    --secondary-foreground: 0 6.3% 94.5%;
    --muted: 33 7.3% 24.9%;
    --muted-foreground: 9.8 5.6% 67.3%;
    --accent: 21.3 60.8% 10%;
    --accent-foreground: 0 6.3% 94.5%;
    --destructive: 336 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 18.8 7.5% 26.3%;
    --ring: 13 100% 56%;
    --chart-1: 13 100% 56%;
    --chart-2: 186.7 100% 50.8%;
    --chart-3: 33.3 100% 49.8%;
    --chart-4: 9.8 5.6% 67.3%;
    --chart-5: 8.6 6.3% 46.9%;
    --sidebar: 0 0% 0%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 13 100% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 186.7 100% 50.8%;
    --sidebar-accent-foreground: 200.5 87.3% 18.4%;
    --sidebar-border: 18.8 7.5% 26.3%;
    --sidebar-ring: 13 100% 56%;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.3rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.18;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.45);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Spline Sans', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }


  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #262626;
    /* zinc-800 */
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #404040;
    /* zinc-700 */
  }
}

@layer components {
  .table-input {
    @apply w-full bg-stone-900 border-stone-700 text-white text-xs px-2 py-1 h-8 focus:ring-1 focus:ring-primary focus:border-primary transition-all;
  }

  .table-text {
    @apply text-xs text-white leading-relaxed font-sans font-extralight;
  }

  .btn-icon-action {
    @apply h-8 w-8 text-primary border-[0.5px] border-primary border-opacity-50 hover:bg-primary hover:bg-opacity-10 hover:border-primary disabled:opacity-50 disabled:pointer-events-none disabled:border-stone-700 disabled:text-stone-500;
  }

  .btn-icon-action:hover {
    color: var(--primary) !important;
  }

  /* Reusable Tab Style */
  .nav-tab {
    @apply border-b-2 border-transparent px-4 py-2 text-sm font-normal text-stone-500 transition-colors whitespace-nowrap;
  }

  .nav-tab:hover {
    @apply text-foreground border-stone-700;
  }

  .nav-tab.active,
  .nav-tab[data-state="active"] {
    border-color: var(--primary) !important;
    color: var(--primary) !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}