@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shadow-xl: 0px 2px 3px 0px hsl(16.5517 21.8045% 26.0784% / 0.18), 0px 8px 10px -1px hsl(16.5517 21.8045% 26.0784% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(16.5517 21.8045% 26.0784% / 0.45);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: #1c1917;
    --foreground: #ffffff;
    --card: #000000;
    --card-foreground: #ffffff;
    --popover: #2c2525;
    --popover-foreground: #ffffff;
    --primary: #ff4d1e;
    --primary-foreground: #ffffff;
    --secondary: #44403b;
    --secondary-foreground: #f2f0f0;
    --muted: #44403b;
    --muted-foreground: #b1a8a6;
    --accent: #29150a;
    --accent-foreground: #f2f0f0;
    --destructive: #ff0066;
    --destructive-foreground: #ffffff;
    --border: #000000;
    --input: #48413e;
    --ring: #ff4d1e;
    --chart-1: #ff4d1e;
    --chart-2: #04e3ff;
    --chart-3: #fe8d00;
    --chart-4: #b1a8a6;
    --chart-5: #7f7370;
    --sidebar: #000000;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #ff4d1e;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #04e3ff;
    --sidebar-accent-foreground: #063c58;
    --sidebar-border: #48413e;
    --sidebar-ring: #ff4d1e;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.3rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.18;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.18), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.45);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Spline Sans', sans-serif;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #262626;
    /* zinc-800 */
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #404040;
    /* zinc-700 */
  }
}

@layer components {
  .table-input {
    @apply h-8 text-xs bg-stone-900 border-stone-700 text-white w-full focus:ring-1 focus:ring-primary;
  }

  .table-text {
    @apply text-xs text-white leading-relaxed font-sans font-extralight;
  }

  .btn-icon-action {
    @apply h-8 w-8 text-primary !border-black hover:bg-primary hover:bg-opacity-10 hover:text-primary hover:border-primary;
  }
}