@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #808080; /* Mid Grey */
  --foreground: #ffffff; /* White text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: bold;
}
